body{
  background-color: blueviolet;
  margin: 5%;
}

.heading {
  padding:20px; 
  font-family: 'robot'; 
  color:#FFFFFF
}

.chart{
  margin-bottom: 3%;
  background-color: ghostwhite;
}
.chartHeading {
  padding:20px;
  font-family:'robot';  
  color:#000080;
}
.table{
  margin-bottom: 3%;
  background-color: ghostwhite;
}
